body {
    font-family: YuGothic,"Yu Gothic","游ゴシック体","游ゴシック","Hiragino Kaku Gothic ProN","HiraKakuPro-W3","メイリオ",Meiryo,Verdana,sans-serif;
}

.top {
    background-size: cover;
    background-position: center top;
    background-image: url(top.PNG);
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.top-item {
    color:#432c02;
    font-size: 50px;
    font-weight: bold;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
}

.main-item {
    background-color: #f6f0cc;
    color:#432c02;
    padding: 10px;
    font-size: 20px;
}

.emp {
    color: #d52f25;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
}

.app-top {
    margin: 150px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-top-item {
    font-size: 30px;
    font-weight: bold;
    margin: 150px;
}

h1 {
    text-align: center;
    padding: 50px 5px 5px;
}

.URL {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

.URL-item {
    font-size: 20px;
    margin: 10px;
}

#app-url {
    font-weight: bold;
}
